# Server
PORT=5000
NODE_ENV=development

# MongoDB (Atlas) — apna connection string yahan daalo
MONGO_URI=mongodb+srv://<db_username>:<db_password>@cluster0.xxxxx.mongodb.net/ecommerce?appName=Cluster0

# JWT
JWT_SECRET=apna_strong_secret_yahan_daalo
JWT_EXPIRE=7d

# Frontend URL (CORS ke liye)
CLIENT_URL=http://localhost:5173

# Cloudinary (File/Image uploads) — https://cloudinary.com free account banao
# Dashboard se Cloud name, API Key aur API Secret copy karke yahan daalo
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here
